.user-card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(36, 36, 36, .3);
    width: 300px;
    min-height: 350px;
    margin: 20px 25px;
    padding: 20px 15px;
}

.user-card__link {
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    color: #242424;
    font-weight: 700;
    padding: 10px;
    border-radius: 4px;
    background: #47b972;
    top: -20px;
    left: -10px;
    min-width: 50px;
    text-align: center;
}

.user-card__link:focus {
    outline: 0.01rem solid #242424;
    outline-offset: 0.3rem;
    border: 0.33rem;
}

.user-card__link:hover,
.user-card__link:active {
    transform: scale(1.02);
    text-decoration: underline;
}

.user-card__avatar {
    height: 100px;
    width: auto;
    align-self: center;
    border: 0.01rem solid rgba(36, 36, 36, .3);
    border-radius: 0.33rem;
    margin-bottom: 1rem;
}

.user-card__list {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.user-card__empty {
    font-size: 14px;
    color: #242424;
    font-weight: 700;
}