.repo {
    box-sizing: border-box;
    list-style: none;
    border: 0.01rem dashed #242424;
    ;
    border-radius: 0.33rem;
    margin-bottom: 1rem;
}

.repo__link {
    text-decoration: none;
    color: #242424;
    display: flex;
    flex-direction: column;
}

.repo__link:hover,
.repo__link:active {
    transform: scale(1.02);
}

.repo__link:focus {
    outline: 0.1rem solid #242424;
    outline-offset: 0.3rem;
    border-radius: 0.33rem;
}

.repo__title {
    font-weight: 700;
    font-size: 18px;
    word-wrap: break-word;
    background-color: #47b972;
}

.repo__description {
    overflow: hidden;
    margin: 0.5rem;
    word-wrap: break-word;
}

.container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}

.repo__info {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.data {
    font-weight: normal;
}