.navigation {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #242424;
    padding: 20px;
}

.navigation__item {
    list-style: none;
    padding: 0 20px;
}

.navigation__item:first-child {
    padding: 10px 20px;
    background: #47b972;
    font-style: italic;
    border-radius: 4px;
}

.navigation__item__link {
    text-decoration: none;
    font-size: 14px;
    color: #242424;
    font-weight: 700;
}

.navigation__item__link:focus {
    outline: 0.1rem solid #242424;
    outline-offset: 0.3rem;
    border-radius: 0.33rem;
}

.navigation__item__link:hover,
.navigation__item__link:active {
    transform: scale(1.02);
    text-decoration: underline;
}